{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 pt-5 text-center">
                <div class="container bg-dark p-5 text-white" style="border-radius: 50px">
                <div class="pb-5 font-italic">
                    <h1>
                    Random Joke
                    </h1>
                </div>
                {% if random_joke != None %}
                <a href="/" class="text-decoration-none text-dark">
                {% endif %}
                <div class="text-justify display-5 border border-dark rounded p-5 bg-dark">
                    <div class="random-joke font-italic font-weight-normal text-white">
                        {% if random_joke != None %}
                            {{ random_joke.content }}
                        {% else %}
                            No jokes at this time. Add some to see random jokes here!
                        {% endif %}
                    </div>
                </div>
                </a>
                </div>
            </div>
            <div class="col-6 pt-5 text-center font-italic">
                <div class="text-right text-dark">
                    <h1>Welcome to TodayJokes!</h1>
                    <img src="{% static 'images/dad.png' %}" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>
    </div>

{% endblock %}